@import "src/style/foundation";

.container {
  display: flex;
  gap: 2rem;
  background-color: $color-tertiary-text;
  color: $color-tertiary-bg;
  padding: 0.5rem 1.5rem;
  font: {
    family: "Bebas Neue", sans-serif;
    size: 2.25rem;
  }
  margin: 0;

  h3 {
    margin: 0;
  }
}
