@import "src/style/foundation";

.container {
  .points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20rem 22rem 22rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .imgMain {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
      height: 20rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .pointOneText {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .pointTwoText {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 19rem auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    .featuresHeader {
      grid-column: 1 / span 1;
    }

    .featImg {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2rem;
    }

    .featTexts {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2rem;
    }
  }
}
