@import "src/style/foundation";

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .points {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .imgMain {
      height: 20rem;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .pointOneText {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .pointTwoText {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .featuresHeader {
    }

    .featItems {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .points {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 20rem 22rem 22rem;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;

      .imgMain {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        height: 20rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .pointOneText {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .pointTwoText {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .section1Img {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
      }

      .section2Img {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
      }
    }
    .features {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;

      .featuresHeader {
        grid-column: 1 / span 1;
      }

      .featItems {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;
        align-items: start;

        .featItem1 {
          grid-column: 1 / span 1;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
        .featItem2 {
          grid-column: 2 / span 1;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
        .featItem3 {
          grid-column: 3 / span 1;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
        .featItem4 {
          grid-column: 4 / span 1;
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
      }
    }
  }
}
