@import "src/style/foundation";

.content {
  display: flex;
  flex-direction: column;

  .heading {
    .title {
      color: $color-secondary;
      font: {
        family: "Bebas Neue", sans-serif;
        size: 2.5rem;
      }
      margin: 2rem 0 0.5rem 0;
    }

    .btns {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .subtitle {
    color: $color-tertiary-text;
    font: {
      family: "Montserrat", sans-serif;
      size: 1.25rem;
    }
    margin: 1rem 0;
  }

  .stack {
    display: none;
  }

  .imgSmall {
    display: none;
  }

  .imgBig {
    height: 16rem;
    width: auto;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: $breakpoint-tablet) {
  .content {
    display: grid;
    grid-template-columns: 22fr 22fr 14fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: 22rem auto;

    .heading {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;

      .title {
        margin-top: 0;
        margin-bottom: 1rem;
      }
    }

    .subtitle {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .stack {
      align-items: center;
      background-color: $color-tertiary-accent;
      display: flex;
      gap: 1rem;
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      height: 3rem;
      padding: 0.5rem 1rem;

      img {
        height: 2rem;
      }
    }

    .imgSmall {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .imgBig {
      height: 100%;
      width: 100%;
      grid-column: 2 / span 2;
      grid-row: 1 / span 1;
    }
  }

  .reverse {
    display: grid;
    grid-template-columns: 22fr 14fr 22fr;

    .heading {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
    }

    .subtitle {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }

    .stack {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .imgSmall {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }

    .imgBig {
      background-color: gray;
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .content {
    .heading {
      .title {
        margin-top: 0;
      }
    }
    .subtitle {
      margin: 0;
    }
  }
}
