@import "src/style/foundation";

.container {
  background-color: $color-primary;
  color: $color-secondary;
  padding: 1rem;

  h1 {
    font: {
      family: "Bebas Neue", sans-serif;
      size: 5rem;
    }
    margin: 0 0 3rem 0;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;

    .subtitle {
      font: {
        family: "Bebas Neue", sans-serif;
        size: 2rem;
      }
      margin: 0;

      &:hover {
        color: $color-secondary-hover;
      }

      &:active {
        color: $color-secondary-active;
      }
    }
  }

  p {
    font: {
      family: "Montserrat", sans-serif;
      size: 1.25rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    padding: 0;
    .content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
