@import "src/style/foundation";

.title {
  color: $color-secondary;
  font: {
    family: "Bebas Neue", sans-serif;
    size: 8rem;
  }
  margin: 0;
  width: 100%;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  .subtitle {
    color: $color-secondary;
    font: {
      family: "Montserrat", sans-serif;
      size: 2rem;
    }
    margin: 0;
    width: 100%;
  }

  .extra-col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .extra-row-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  img {
    height: 2rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .subtitle {
    width: 38rem;
  }
}

@media (min-width: $breakpoint-desktop) {
}
