@import "src/style/foundation";

.link {
  color: $color-secondary;
  display: inline-block;
  text: {
    transform: uppercase;
    decoration: none;
  }

  &:hover {
    color: $color-secondary-hover;
  }

  &:active {
    color: $color-secondary-active;
  }
}
