@import 'src/style/foundation';

.link {
    color: var(--color-secondary);
    text: {
      transform: uppercase;
      decoration: none;
    }

    &:hover {
      color: var(--color-secondary-hover);
    }

    &:active {
      color: var(--color-secondary-active);
    }
}