@import 'src/style/foundation';

.button {
  border: $color-secondary 2px solid;
  border-radius: 2rem;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  margin: 0.5rem;
  padding: 0.5rem 1rem;

  &:hover {
    border: $color-secondary-hover 2px solid;
  }

  &:active {
    border: $color-secondary-active 2px solid;
  }
  a {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: $color-secondary;
    text: {
      transform: uppercase;
      decoration: none;
    }

    &:hover {
      color: $color-secondary-hover;
    }

    &:active {
      color: $color-secondary-active;
    }

    svg {
      height: 1.25rem;
    }
  }
}