@import "src/style/foundation";

.container {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 992px;

    nav {
      display: flex;
      font: {
        family: Montserrat, sans-serif;
        size: 1.25rem;
        weight: 800;
      }
      gap: 2rem;
      padding: 2rem 0;

      .back {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }

    .modeicons {
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon {
        color: $color-secondary;
        height: 2rem;

        &:hover {
          color: $color-secondary-hover;
        }

        &:active {
          color: $color-secondary-active;
        }
      }
    }
  }
}
