@import "src/style/foundation";

.container {
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    nav {
      display: flex;
      flex-direction: column;
      font: {
        family: Montserrat, sans-serif;
        size: 1.25rem;
        weight: 800;
      }
      gap: 0.5rem;
      padding: 2rem 0;

      .back {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }

    .modeicons {
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon {
        color: $color-secondary;
        height: 2rem;

        &:hover {
          color: $color-secondary-hover;
        }

        &:active {
          color: $color-secondary-active;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    position: fixed;
    .content {
      nav {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    .content {
      width: 992px;
    }
  }
}
