@import "src/style/foundation";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    width: 100%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    .content {
      padding: 8rem 0;
      width: 992px;
    }
  }
}
