@import 'src/style/foundation';

.container {
  display: flex;
  justify-content: center;
  padding: 12rem 0;

  .content {
    display: flex;
    flex-direction: column;
    width: 992px;
    border: black 1px solid;
  }
}